.browserinbrowser iframe {
  width: 100%;
  min-height: 300px;
  height: 100%;
  display: block;
  padding: 26px;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
}

.left-column {
  text-align: right;
}
